[submodule "proto/otlp"]
	path = proto/otlp
	url = git@github.com:open-telemetry/opentelemetry-proto.git
[submodule "proto/common"]
	path = proto/common
	url = git@github.com:catalyst-monitor/catalyst-proto.git
